/*
Interesting advanced settings:
- zen.view.sidebar-collapsed.hide-mute-button => false
- browser.tabs.allow_transparent_browser => false
- zen.workspaces.show-workspace-indicator => false
- zen.urlbar.replace-newtab
*/



/* ----- Typeahead Find ----- */

/* Open full find with all options */
@media (-moz-bool-pref: "lancear.inner-peace.typeahead-find.show-full-find") {
  .findbar-container > checkbox[hidden] {
    display: flex !important;
  }
}




/* ----- Urlbar ----- */

/* Center url in (non floating) urlbar */
@media (-moz-bool-pref: "lancear.inner-peace.urlbar.center-url") {
  #urlbar-input:not([aria-expanded="true"]) {
    text-align: center !important;
  }
}



/* ----- Mute Tab Button ----- */

/* Resize */
@media (-moz-bool-pref: "lancear.inner-peace.mute-tab-button.resize") {
  .tab-icon-overlay {
    width: var(--lancear-inner-peace-mute-tab-button-size) !important;
    height: var(--lancear-inner-peace-mute-tab-button-size) !important;
  }
}

/* Reposition */
@media (-moz-bool-pref: "lancear.inner-peace.mute-tab-button.reposition") {
  .tab-icon-overlay {
    top: var(--lancear-inner-peace-mute-tab-button-top) !important;
    right: var(--lancear-inner-peace-mute-tab-button-right) !important;
  }
}



/* ----- Close Tab Button ----- */

/* Close tab button in the style of the mute button */
@media (-moz-bool-pref: "lancear.inner-peace.close-tab-button.show") {
  :root:not([zen-sidebar-expanded]) tab:hover .tab-close-button {
    display: inline-flex !important;

    width: 0.1px !important;
    height: 0.1px !important;
    padding: 0.02px !important;
    transform: scale(140);

    position: relative;
    top: -9px;
    right: 2.5px;

    background: #ffffff;
    margin-inline: 0 !important;
  }
  
  :root:not([zen-sidebar-expanded]) tab:hover .tab-close-button:hover {
    background: #ffffff !important;
  }
}

/* Rescale */
@media (-moz-bool-pref: "lancear.inner-peace.close-tab-button.resize") {
  :root:not([zen-sidebar-expanded]) tab:hover .tab-close-button {
    transform: scale(var(--lancear-inner-peace-close-tab-button-size));
  }
}

/* Reposition */
@media (-moz-bool-pref: "lancear.inner-peace.close-tab-button.reposition") {
  :root:not([zen-sidebar-expanded]) tab:hover .tab-close-button {
    top: var(--lancear-inner-peace-close-tab-button-top);
    right: var(--lancear-inner-peace-close-tab-button-right);
  }
}



/* ----- Clean up spacing ----- */

/* Add vertical spacing around the toolbar */
@media (-moz-bool-pref: "lancear.inner-peace.clean-up-spacing.vertical-toolbar-spacing") {
  :root:not([zen-single-toolbar]) #zen-appcontent-navbar-container {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}


/* Horizontally align the toolbar */
@media (-moz-bool-pref: "lancear.inner-peace.clean-up-spacing.horizontal-toolbar-alignment") {
  :root:not([zen-sidebar-expanded]) #nav-bar {
    margin-left: 0 !important;
  }
  
  :root:not([zen-sidebar-expanded]) #PersonalToolbar,
  :root:not([zen-right-side="true"]) #PersonalToolbar {
    padding-inline-start: 0px !important;
  }

  :root:not([zen-compact-mode="true"]) #PersonalToolbar {
    padding-inline-end: 0px !important;
  }

  #nav-bar #PanelUI-button:last-of-type toolbarbutton {
    padding-right: 0 !important;
  }

  #nav-bar #nav-bar-overflow-button {
    padding-right: 0px !important;  
  }
}

/* Add horizontal spacing around the sidebar */
@media (-moz-bool-pref: "lancear.inner-peace.clean-up-spacing.horizontal-sidebar-spacing") {
  :root:not([zen-sidebar-expanded]) {
    --zen-toolbox-padding: 5px !important;
  }

  :root[zen-right-side="true"] #zen-tabbox-wrapper {
    padding-right: 2px;
  }

  :root:not([zen-right-side="true"]) #zen-tabbox-wrapper {
    padding-left: 2px;
  }
}

/* Vertically align the sidebar */
@media (-moz-bool-pref: "lancear.inner-peace.clean-up-spacing.vertical-sidebar-alignment") {
  #zen-main-app-wrapper:has(#PersonalToolbar[collapsed="true"]) {
    --personal-toolbar-height: 0px;
  }

  #zen-main-app-wrapper:has(#PersonalToolbar[collapsed="false"]) {
    --personal-toolbar-height: var(--lancear-inner-peace-clean-up-spacing-personal-toolbar-height);
  }

  :root:not([zen-single-toolbar]):not([zen-sidebar-expanded]) #navigator-toolbox {
    padding-top: var(--personal-toolbar-height) !important;
  }

  :root:not([zen-single-toolbar])[zen-sidebar-expanded] #zen-sidebar-top-buttons {
    margin-bottom: var(--personal-toolbar-height) !important;
  }
  
  @media (-moz-bool-pref: "lancear.inner-peace.clean-up-spacing.vertical-toolbar-spacing") {
    :root:not([zen-single-toolbar]):not([zen-sidebar-expanded]) #navigator-toolbox {
      padding-top: calc(8px + var(--personal-toolbar-height)) !important;
    }

    :root:not([zen-single-toolbar])[zen-sidebar-expanded] #zen-sidebar-top-buttons {
      margin-bottom: calc(4px + var(--personal-toolbar-height)) !important;
    }
  }
}


/* Add small spacing on the right of the window buttons */
@media (-moz-bool-pref: "lancear.inner-peace.clean-up-spacing.right-window-buttons-spacing") {
  .titlebar-buttonbox-container {
    padding-right: 4px;
  }
}



/* ----- Hide Anything ----- */

/* Hide back button */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.back-button") { 
  #back-button {
    display: none;
  }
}

/* Hide forward button */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.forward-button") { 
  #forward-button {
    display: none;
  }
}

/* Hide url identity box */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.url-identity-box") { 
  #identity-box {
    display: none;
  }
  
  .urlbar-input-box {
    padding-left: 6px;
  }
}

/* Hide tracking protection icon */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.tracking-protection-icon") { 
  #tracking-protection-icon-container {
    display: none;
  }
}

/* Hide feature recommendation */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.feature-recommendation") { 
  #contextual-feature-recommendation {
    display: none;
  }
}

/* Hide container info fully */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.container-info") { 
  #userContext-icons {
    display: none;
  }
}

/* Hide container label */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.container-label") { 
  #userContext-label {
    display: none;
  }
}

/* Hide container icon */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.container-icon") { 
  #userContext-indicator {
    display: none;
  }
}

/* Hide reader mode button */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.reader-mode-button") { 
  #reader-mode-button {
    display: none;
  }
}

/* Hide pciture in picture button */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.picture-in-picture-button") { 
  #picture-in-picture-button {
    display: none;
  }
}

/* Hide translations button */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.translations-button") { 
  #translations-button {
    display: none;
  }
}

/* Hide shopping button */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.shopping-button") { 
  #shopping-sidebar-button {
    display: none;
  }
}

/* Hide zoom button */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.zoom-button") { 
  #urlbar-zoom-button {
    display: none;
  }
}

/* Hide page action button */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.page-action-button") { 
  #pageActionButton {
    display: none;
  }
}

/* Hide split views button */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.split-views-button") { 
  #zen-split-views-button {
    display: none;
  }
}

/* Hide bookmark button */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.bookmark-button") { 
  #star-button-box {
    display: none;
  }
}

/* Hide extensions button */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.extensions-button") { 
  #unified-extensions-button {
    display: none;
  }
}

/* Hide menu button */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.menu-button") { 
  #PanelUI-menu-button {
    display: none;
  }
}

/* Hide window minimize button */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.window-min-button") { 
  .titlebar-min {
    display: none;
  }
}

/* Hide window restore button */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.window-restore-button") { 
  .titlebar-restore {
    display: none;
  }
}

/* Hide window close button */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.window-close-button") { 
  .titlebar-close {
    display: none;
  }
}

/* Hide workspace switcher */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.workspace-switcher") { 
  #zen-workspaces-button {
    display: none !important;
  }
}

/* Hide tab reset button */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.tab-reset-button") { 
  .tab-reset-button {
    display: none !important;
  }
}

/* Hide tab close button */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.tab-close-button") { 
  .tab-close-button {
    display: none !important;
  }
}

/* Hide tab icon fully */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.tab-icon") { 
  .tab-icon-stack {
    display: none !important;
  }
    
  .tab-content {
    padding-left: 10px !important;
  }  
}

/* Hide tab mute button */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.tab-mute-button") { 
  .tab-icon-overlay {
    display: none !important;
  }
}

/* Hide tab sharing icon button */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.tab-sharing-icon") { 
  .tab-sharing-icon-overlay {
    display: none !important;
  }
  
  .tab-icon-image[sharing] {
    animation: none !important;
  }
}

/* Hide tab title changed indicator */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.tab-title-changed-indicator") { 
  .tab-content {
    background: none !important;
  }
}

/* Hide tab pending icon*/
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.tab-pending-icon") { 
  .tab-icon-pending {
    display: none !important;
  }
}

/* Hide tab throbber */
@media (-moz-bool-pref: "lancear.inner-peace.hide-anything.tab-throbber") { 
  .tab-throbber {
    display: none !important;
  }
}



/* ----- WIP macos window buttons ----- */

/* macos inspired window buttons */
/* .titlebar-buttonbox {
  padding-right: 12px;
  
  display: flex !important;
  align-items: center;
  gap: 6px;
} */

/* macos inspired window buttons */
/* .titlebar-button {
  padding: 0 !important;
  
  height: 14px;
  width: 14px;
  
  border-radius: 100%;
  background: #aaaaaa !important;
} */

/* macos inspired window buttons */
/* .titlebar-min:hover {
  background: #1aab29 !important;
}
 */
/* macos inspired window buttons */
/* .titlebar-restore:hover {
  background: #ffbd2e !important;
}
 */
/* macos inspired window buttons */
/* .titlebar-close:hover {
  background: #e0443e !important;
}
 */
/* macos inspired window buttons */
/* .titlebar-button .toolbarbutton-icon {
  display: none !important;
} */
